html, body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  width: 100%;
  overflow-x: hidden;
}

body {
  width: 98%;
  margin: auto;
}

.table {
  margin-bottom: 0;
}

.search-result {
  cursor: pointer;
}

.highlight {
  background-color: #FFFF00;
}

.removed {
  background-color: #ABABAB;
}

.archived {
  background-color: #BABABA;
}

.striped-row {
  background-color: #F9F9F9;
}

.searchActions-result {
  cursor: pointer;
}

h3 {
  font-size: 22px;
  font-weight: bold;
}

h4 {
  font-size: 20px;
  font-weight: bold;
}

.form-buttons {
  float: right;
}

.form-row {
  margin-bottom: 15px;
}

#receipt {
  display: none;
}

#searchModal .modal-dialog {
  min-width: 900px;
  width: 50%;
}

#StatusButton #left {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  width: 20%;
}

#StatusButton #center {
  border-width: 1px 0;
  cursor: default;
  border-radius: 0;
  width: 60%;
}

#StatusButton .btn-success:hover {
  background-color: #00B642;
  border-color: #00B642;
}

#StatusButton .btn-danger:hover {
  background-color: #F1003A;
  border-color: #F1003A;
}

#StatusButton .btn-warning:hover {
  background-color: #FFC800;
  border-color: #FFC800;
}

#StatusButton #right {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  width: 20%;
}

#Login form .row {
  margin-bottom: 15px;
}

#Login button {
  float: right;
}

#EmployeeFormModal input[type=text],
#EmployeeFormModal input[type=password] {
  margin-bottom: 10px;
}

#EmployeeFormModal .btn-toolbar {
  float: right;
  margin-top: 20px;
  margin-right: 15px;
}

#SettingsView form .row {
  margin-top: 15px;
}

#SettingsView #calibrationButton {
  text-align: center;
}

#SettingsView #formButtons {
  float: right;
}

.menu-button {
  cursor: pointer;
  margin-left: 15px;
  padding: 15px;
  width: fit-content;
}

.form-control-feedback {
  text-align: left !important;
}

.has-feedback .form-control {
  padding-right: 5px !important;
}

@media print {
  #receipt {
    display: block;
  }

  * {
    font-size: 9px;
  }

  h2 {
    font-size: 16px;
    margin: 0 0 10px 0;
  }

  h3 {
    font-size: 12px;
    margin: 15px 0 10px 0;
  }

  aside, header, nav, .modal, .modal-dialog, .modal-content, .panel {
    display: none;
  }

  .userdata div {
    display: inline-block;
  }

  .userdata div:first-of-type {
    font-weight: bold;
    width: 120px;
  }

  .note {
    margin-bottom: 20px;
  }

  .autorisation {
    margin: auto;
    margin-bottom: 30px;
  }

  .signature {
    border-top: 1px solid black;
    margin-top: 40px;
    margin-left: 65%;
    text-align: center;
    width: 35%;
  }

  .conditions {
    font-size: 7px;
  }
}
